.xblock {
    font-size: 20px;
    text-align: center;
    min-height: 40px;
    min-width: 40px;
    color: blue;
    border: 2px solid green;
}
.oblock {
    font-size: 20px;
    text-align: center;
    color: red;
    min-height: 40px;
    min-width: 40px;
    border: 2px solid green;
}
.header {
    font-size: 20px;
    text-align: center;
    border: 2px solid orange;
    margin: auto;
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    min-height: 30px;
    align-content: center;
    align-self: center;
    align-items: center;
}
.bottom {
    font-size: 20px;
    text-align: center;
    border: 2px solid blue;
    margin: auto;
    margin-top: 20px;
}
.center {
    display: flex;
    flex-direction: column;
    border: 2px solid lightseagreen;
    align-content: center;
    justify-items: center;
    text-align: center;
}